pipeline/Master pipeline.json
{
	"name": "Master pipeline",
	"properties": {
		"activities": [
			{
				"name": "Last watermark value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from watermarktable",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WatermarkTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "New watermark value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(lasteditedwhen) from sales.orders",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OLTP_Orders",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "WWI pipeline test",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Last watermark value",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "New watermark value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "WWI pipeline test",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Startdate": {
							"value": "@activity('Last watermark value').output",
							"type": "Expression"
						},
						"Enddate": {
							"value": "@activity('New watermark value').output",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Update procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "WWI pipeline test",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[FilterOrders]",
					"storedProcedureParameters": {
						"LastEditedWhen": {
							"value": {
								"value": "@activity('Last watermark value').output",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "OLTP_Database",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}